@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@Scripts.Render("~/bundles/app")
<p>Use this area to provide additional information.</p>
<div ng-app="app.main">
    Main Module
    <div ui-view></div>
</div>
